recursive-include cmsplugin_slick/templates *
recursive-include cmsplugin_slick/static *
recursive-include cmsplugin_slick/locale *
recursive-include cmsplugin_slick/migrations *

recursive-exclude * *.py[co]
